# Database
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# MQTT
MQTT_PORT=
MQTT_WS_PORT=

# Service Ports
API_PORT=
FRONTEND_PORT=

# Frontend
VITE_API_URL=

# Internal service URLs
MODEL_API_URL=

# Simulator
PUBLISH_INTERVAL=

# Twilio (SMS alerts)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
ALERT_TO_NUMBER=

# Email (Nodemailer alerts)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
ALERT_EMAIL=
